name: Build and Release APK

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Decode Keystore
        id: decode_keystore
        uses: timheuer/base64-to-file@v1.2
        with:
          fileName: 'android/app/organiza-ae-keystore.jks'
          encodedString: ${{ secrets.KEYSTORE_BASE64 }}

      - name: Flutter Pub Get
        run: flutter pub get

      - name: Build APK
        run: >
          flutter build apk --release
          --build-name=${{ github.ref_name }}
          --build-number=${{ github.run_number }}
        env:
          KEY_STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_STORE_FILE: ${{ steps.decode_keystore.outputs.filePath }}

      - name: Rename APK
        run: mv build/app/outputs/flutter-apk/app-release.apk build/app/outputs/flutter-apk/organiza-ae-${{ github.ref_name }}.apk

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: build/app/outputs/flutter-apk/organiza-ae-${{ github.ref_name }}.apk
          tag_name: ${{ github.ref_name }}
          name: "Release ${{ github.ref_name }}"
          body: "Release automática da versão ${{ github.ref_name }}"
          prerelease: false